// Variables
$teocat-brown: #5a3921;
$teocat-green: #7ab51d;
$teocat-blue: #00b2e3;

// Importar el módulo de color de Sass
@use "sass:color";

.appointment-summary {
  .selected-services-list {
    .service-price {
      font-weight: 600;
      color: $teocat-green;
    }
  }
  
  .appointment-submit-btn {
    background-color: $teocat-green;
    border-color: $teocat-green;
    
    &:hover, &:focus {
      background-color: color.adjust($teocat-green, $lightness: -10%);
      border-color: color.adjust($teocat-green, $lightness: -10%);
    }
  }
  
  .appointment-policies {
    a {
      color: $teocat-brown;
      text-decoration: none;
      
      &:hover {
        color: $teocat-green;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 991.98px) {
  .appointment-summary {
    position: static !important;
    margin-top: 2rem;
  }
}

