// Variables
$teocat-brown: #5a3921;
$teocat-green: #7ab51d;
$teocat-blue: #00b2e3;

// Importar el módulo de color de Sass
@use "sass:color";

.address-item {
  padding: 1rem;
  transition: all 0.3s ease;
  
  &:hover {
    background-color: rgba($teocat-green, 0.05);
  }
  
  .address-text {
    font-size: 1.05rem;
  }
  
  .address-actions {
    .btn {
      padding: 0.35rem 0.5rem;
      
      i {
        font-size: 0.9rem;
      }
    }
  }
}

